@media screen and (max-width:800px) {

    [aria-controls="navbarDropdown"] {
        display: block;
     }

     [aria-expanded="false"] ~ ul {
        display: none;
     }

     [aria-expanded="true"] ~ ul {
        display: block; 
        position: absolute;
        right: 0;
        top: var(--size-50);
        background-image: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.7));
        width: 100%;
        text-align: right;
        box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
     }

     [aria-expanded="true"] ~ ul li  {
      margin-right: var(--size-20);
      color: var(--font-color-dark);
     }

     .container { padding: 0;}

.navbar-toggler {
    position: absolute;
    left: 93%;
    background-color: transparent;
    border: 2px solid blue;
    border-radius: 3px;
    z-index: 1000;
}

.btnn { color: white;}

.empower-box1 {
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.empower-icons { justify-items: center;}

.empowerfirst {
    margin-bottom: 50px;
    width: inherit;
}

.icon4 { display: none;}
.icon7 {display: none;}

.key-text { margin: 40px; }

.key-benefits-cards { flex-wrap: wrap; }

.card { width: 265px;}

.key-benefits-bottom { margin: 50px auto;}

.ben-bottom {
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    height: max-content;
}

.box1 { width: 90%;}
.box2 { width: auto;}

.girl { margin-left: 0;}

.girl-pic-wrapper {
    flex-wrap: wrap;
    align-items: center;
}

.video-pic { height: auto ;}

.girl-text { width: 500px; }

.dot-grid { display: none;}

.weebly {display: none;}
.spotify {display: none;}


.pricing-grid {
    margin: 5px 10px;
    display: grid;
    justify-items: start;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 120px);
    justify-content: center;
    align-items: stretch;
}


.card1 {
    width: auto;
    height: max-content;
    margin: auto;
    padding: 10px;
}
.hire-boxes {
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: flex-start;
}

.blue-section {
    height: fit-content;
    min-width: none;
}

.hire-box1 { 
    width: auto;
    padding: 0;
}
.hire-box2 { 
    margin: auto;
    width: 100%;
}

.form { 
    text-align: center;
    margin-bottom: 50px;
    width: 100%;
}

.form-btn { margin: auto; }

.form select { width: 200px;}

.bottom {
    flex-wrap: wrap;
}

.foot1 {
    width: 600px;
}

.foot {
    width: 250px;
    justify-content: space-evenly;
}

.footer-bottom {
    flex-direction: row;
    margin: 10px 0;
}

.very1, .very2 { 
    text-align: left;
    margin: 10px 10px;
}

.footericons {
    flex-direction: row;
}

}

@media screen and (max-width: 390px) {
    .navbottom {width: 375px;}
    .video { 
        width: 100%;
        padding: 0%;
        margin: 10px 5px;
    }
    .navbar-toggler { left: 85%;}
    .empower-box1 {
        margin-top: 15px;
         padding: 0;
        }

    .empower-title {
        font-size: 35px;
        color: var(--black);
        font-weight: 500;
        line-height: 1.1;
    }

    .video-pic { 
        margin: 20px 20px;
        width: 90%;
        height: 200px;
    }
    
    .empower-icons { grid-template-columns: repeat(5, 65px); }
    .key-text { margin: 0;}
    .why-front-text { padding: 10px;}

    .girl { 
        margin: auto;
        padding: 10px;
    }

    .girl-pic-container {
        display: flex;
        flex-direction: column;
    }

    .girl-text { 
        padding: 10px;
        width: 350px;
    }
    .ben-bottom { width: 95%;}

    .pricing-grid {
        display: flex;
        flex-direction: column;
    }

    .light-text {     
        padding: 0px 5px;
        text-align: center;
    }

    .blue-section { width: 100%;}
    .price-cards { margin: 0; }
    .card2 { margin-top: 60px;}
    .partner-logos { gap: 20px;}

    .hire-boxes { 
        
        flex-direction: column;
    }

    .beautiful { 
        font-size: 15px;
        width: 80%;
    }

    .line1, .line2, .line3 {
    display: flex;
    flex-direction: column;
    }
 
    .form select { width: 86%;}

    .form { 
        width: min-content;
        height: max-content;
    }

    .footer-bottom { display: initial;}

    .bottom { 
        gap: 0;
        justify-content: flex-start;
     }

}