header {
    background: rgb(255,255,255);
background: linear-gradient(352deg, rgba(255,255,255,1) 19%, rgba(237,243,245,0.9962359943977591) 19%);
}


.navbottom {
    display: flex;
    height: 40px;
    padding: 3px 7px;
    align-items: center;
}
.navbottom > a { margin-right: auto;}
.navbar-toggler { display: none; }
.navbar-toggler span { pointer-events: none; }
.navs { display: flex; }
.logotext { margin-right: auto; }

.frontlogo {
    width: 150px;
    padding: 15px var(--size-10);
}

.empower-title {
    font-size: 53px;
    color: var(--black);
    font-weight: 550;
    line-height: 1;
}

.intro { 
    display: flex;
    height: 400px;
}

.btntwo { color: red;} 

.money { 
    display: flex;
    flex-direction: row;
    font-size: var(--size-40);
    color: var(--black);
    align-items: flex-end;
}

.month { 
    font-size: 16px;
    align-items: flex-end;
    padding-bottom: var(--size-10);
}

.empower-box1 {
    display: flex;
    width: 100%;
    padding: 65px;
    justify-content: space-around;
}

.empower-icons {
    display: grid;
    grid-template-columns: repeat(5, 75px);
    grid-template-rows: repeat(4, 75px);
    padding-top: 20px;
    align-items: center;
    justify-items: center;
}

.icon-width { 
    width: 80px;
    padding: var(--size-10);
}

.icon1 {
    grid-column: 1 / 1 ;
    grid-row: 1/1 ;
    height: 60px;
    width: 60px;
    border-radius: 180px;
    background-color:var(--white);
}

.icon2 {
    grid-column: 1 ;
    grid-row: 3 ;
    height: 50px;
    width: 50px;
    border-radius: 180px;
    background-color: var(--white);
}

.icon3 {
    grid-column:5 ;
    grid-row: 1 ;
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background-color: var(--white);
}


.icon4 { 
    grid-column: 2 ;
    grid-row: 4 ; 
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background-color: var(--white);
}

.icon5 {  
    grid-column: 3;
    grid-row: 2;
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background-color:var(--white); 
}

.icon6 {
    grid-column: 4;
    grid-row: 3;
    height: 60px;
    width: 60px;
    border-radius: 180px;
    background-color: var(--white);
}

.icon7 {
    grid-column: 5 ;
    grid-row: 4 ;
    height: 40px;
    width: 40px;
    border-radius: 180px;
    background-color:var(--white);
}

.empowerfirst { width: 45%; }

.empowerfirst a { margin-right: 15px;}

.card:hover { background-color:gainsboro;}

.card {
    width: 275px;
    min-width: 175px;
    margin: auto;
    border-radius: 5px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}

.key-text {
    text-align: center;
    margin: 50px 0;
}

.key-benefits { margin: 50px 50px; }  
.key-benefits-bottom {margin: 110px auto; }

.key-benefits-cards {
    display: flex;
    gap: 30px;
}

.key-benefits-cards img {width: 30px;}

.ben-bottom {
    height: 375px;
    width: 89%;
    display: flex;
    justify-content: center;
    background-color: rgb(238, 242, 246);
}

.box1{ 
    margin: 100px 30px;
    color: var(--black);
    width: 40%;
    font-weight: 550;
    font-size: var(--size-30);
    line-height: 1.1;
}

.box2 { 
    margin: auto;
    width: 60%;
    margin: 60px 0px 0px 100px;

}

.sketch { 
    padding: 3px 5px;
    color: var(--white);
    border: 2px solid black;
    border-radius: 20px;
    background-color: rgb(105, 188, 178);
    font-size: 11px;
    margin-left: 5px;
}

.why-front-text { text-align: center; }
.why-front-wrapper { height:max-content ;}

.video { 
    width: 60% ;
    margin: auto;
    padding: 45px 10px;
}

.video-pic { 
    height: 400px;
    width: 100%;
}

.play-btn i { 
    position: absolute;
    top: 1750px
}

.dot-grid {
    background-image: url(/assets/saas-project-assets/icons/dots.svg);
    margin: 5px;
    width: 500px;
    height: 350px;
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-template-rows: repeat(2, auto);
    background-repeat: no-repeat;
    position: absolute;
    bottom: -31px;
    left: 30px;
    z-index: -1;
}

.girl {  
    width: 450px;
    border-radius: var(--size-10);
    margin-left: 60px;
    z-index: 100;
}

.girl-pic-container { 
    position: relative;
    display: flex;
    gap: var(--size-10);
    padding: var(--size-10);
}


.girl-text {
    padding-left: 25px;
    max-width: 400px;
    align-self: center;
    min-width: 275px;  
}

.girl-text-bottom {
    font-size: 16px;
    font-weight: 600;
    color: var(--black); 
}

.girl-title { font-size: 10px; }

.hubspot { 
    width: 125px;
    margin-bottom: var(--size-10);
}

.partners { margin: 100px 0; }

.partner-logos {
    margin: auto;
    justify-content: space-evenly;
    display: flex;
}

.partner-text {
    text-align: center;
    margin-top: 100px;
    font-size: var(--size-10);
}

.prices { text-align: center; }

.pricing-grid {
    text-align: left;
    display: grid;
    margin-bottom: 50px;
    justify-items: center;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, 200px);
}

.price-cards {
   min-width: 250px;
   margin-right: 75px;
}

.price-cards img { width: 30px; }
.price-cards p { color: var(--font-color-base); }

.card1 {
    justify-items: center;
    width: 350px;
    height: 300px;
    margin: 35px 30px;
    padding: 35px;
    box-shadow: 0px 0px 20px rgba(52, 49, 75, 0.1);
    border-radius: var(--size-10);
    grid-column: 1 / 3;
    grid-row: 1 / 3;
}

.prices-text { margin-bottom: 75px; }

.blue-section {
    height: 600px;
    margin-bottom: 30px;
    padding: 0 10px;
    background-color: rgb(26, 23, 110);
    background-image: url("/assets/saas-project-assets/abstract/hire-us-transparent-pattern-bg.svg");
}

.goal {
    margin-top: -20px;
    font-size: var(--size-12);
}

.beautiful { 
    margin-top: var(--size-10);
    font-size: 17px; 
}

.james {
    margin-top: var(--size-10);
    margin-bottom: -20px;
}

.hire-boxes {
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.hire-box1 {
    text-align: left;
    width: 50%;
    padding: 30px;
}

.hire-box1 h4 {
    font-size: var(--size-30);
    color: var(--white);
}

.hire-box1 div {
    color: var(--white);
    padding: var(--size-10);
}

.hireus {
    font-size: var(--size-30);
    font-weight: 600;
}

.hire-box2 { width: 50%; }

.form {
    width: 70%;
    height: 90%;
    background-color: var(--white);
    padding: 15px;
    margin: 20px auto;
    border-radius: 6px;
}

.form h4 { padding-left: 15px;}

.form input {
    text-align: center;
    width: 85%;
    height: 35px;
    border: 1px solid grey;
    border-radius: 5px;
    margin: 5px 20px;    
}

.form select {
    width: 85%;
    height: 35px;
    margin: 5px 20px;
    border-radius: 5px;
    text-align: center;
}

textarea { 
    margin: 5px 0 5px 0;
    width: 100%;
    height: 70px;
    padding: 5px;
    resize: none;
    font-family: sans-serif;
}

.form a { color: var(--white);}

.form-btn { 
    margin: auto;
    padding: 5px;
    text-align: center;
    color: var(--white);
    border: 2px solid black;
    border-radius: 8px;
    width: 250px;
    height: 40px;
    background-color: rgb(44, 44, 224);
 }

.line1, 
.line2,
.line3 { 
    display: flex;
    justify-content: space-around;
    margin: 25px 0;
 }

 .hire-us-img {
    margin-left: 20px;
    gap: 20px;
    display: flex;
    width: 70px;
 }

 .bottom {
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: max-content;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
 }

 .foot {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }

 .foot div { margin: 10px 0;}
 .foot a { padding: 5px;}

 .footer-bottom {
    display: flex;
    flex-direction: row;
    margin: 30px;
 }

 .footericons { margin-left: auto ;}

 .footer-bottom i { padding: 10px; }

 .very1, .very2 { 
    text-align: center;
    margin: 15px 100px;
    font-size: var(--size-10);
}
